# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
x64/
x86/
Debug/
Release/
bin/
obj/
out/

# Generated
*.log
*.tmp

# IntelliSense
ipch/

# ReSharper
_ReSharper*/
*.DotSettings.user